@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

body {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    letter-spacing: 2px;
}

.page {
    width: 100%;
    min-height: 900px;
    background-color: rgb(11, 24, 41);
    /* background: linear-gradient(to bottom, rgba(11, 24, 41, 1) 95%, rgba(2, 43, 88, .5) 100%); */
}

.main_container {
    padding: 2em 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main {
    width: 80%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1em;
}

.updateContactsBtn {
    color: white;
    font-size: 2em;
    font-weight: 700;
    border: none;
    width: 40px;
    height: 40px;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
    border-radius: 20px;
}

.updateContactsBtn:hover {
    background-color: rgba(195, 230, 253, .1);
}

.updateContactsBtn:active {
    background-color: rgba(195, 230, 253, .3);
}

table.contacts {
    border-collapse: collapse;
}

table.contacts th, table.contacts td{
    border: 1px solid rgb(195, 230, 253);
    color: rgb(195, 230, 253);
    padding: 1em;
}

table.contacts th {
    font-weight: 700;
    font-size: 1.5em;
}

table.contacts td {
    font-weight: 400;
    text-align: center;
    max-width: 300px;
    word-wrap: break-word;
}

table.contacts td input[type="checkbox"] {
    width: 25px;
    height: 25px;
    background-color: rgb(0, 0, 0);
}

.footer {
    height: 200px;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.footer h1 {
    color: rgb(223, 223, 223);
    font-size: 4em;
}

.footer h1 span.underlined {
    margin: 0 2px;
    text-decoration: underline;
}

.footer h1 span span {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: .2em;
    margin-top: 1.7em;
    text-decoration: none;
}

.footer .links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.footer .links button {
    text-decoration: none;
    color: rgb(250, 250, 250);
    background-color: transparent;
    text-align: left;
    border: none;
    font-family: 'Space Mono';
    padding: 0;
    margin: 0;
    letter-spacing: 2px;
    cursor: pointer;
}











